@charset "UTF-8";

/* 
    color01: #0D1219 (softblack)
    color02: #331924 (darkbrown) 
    color03: #202D40 (drakgray)
    color04: #80002D (darkred) 
    color05: #E68A00 (yellow)
*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Josefin Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #331924;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    width: 270px;
    height: 500px;
    border-radius: 20px;
    border: 1.5px solid black;
    box-shadow: 5px 5px 10px #f99500b0;
    transition: width 1s, height 1s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

#img {
    background: #331924 url(../images/login-screen-500px.jpg);
    background-size: cover;
    background-position: center center;
    height: 200px;
    display: block;
}

#form {
    display: block;
    padding: 10px;
}

#form > h1 {
    text-align: center;
    padding: 5px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: white;
    background-color: #6c6c6c;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    padding: 2px;
}

form > input[type=submit]:hover {
    background-color: #331924;
}

form label {
    display: none;
}

.field > span {
    color: white;
    font-size: 2em;
    width: 44.5px;
    padding: 5px;
    border: white;
}

.field > input {
    font-size: 1em;
    width: calc(100% - 50px);
    height: 100%;
    border: none;
    padding: 5px;
    border-radius: 5px;
    transform: translateY(-15px);
}

.field {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #0D1219;
    border: 2px solid #0D1219;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    margin: 5px 0px;
}

.buttom {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: #331924;
    background-color: white;
    border: 2px solid #331924;
    border-radius: 5px;
    margin-top: 5px;
    padding: 8px;
}

.buttom:hover {
    color: white;
    background-color: #331924;
}

.buttom > span {
    font-size: 1em;
}