@charset "UTF-8";

@media print {

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../images/back-tablet.jpg);
    }

    main {
        width: 60vw;
    }

    #phone {display: none;}
    #tablet {display: block;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../images/back-pc.jpg);
    }

    main {
        width: 40vw;
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: block;}
    #tv {display: none;}
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../images/back-tv.jpg);
    }

    main {
        width: 40vw;
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: block;}
}